<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.rland.web.repository.MemberRepository">
  	
	<!-- 목록에 대한 것만 view로 -->
	  <select id="findByUsername" resultType="Member">
		select
		* 
		from member
		where username=#{username}
	</select>
	


</mapper>
